.navbar {
  background-color: #ecdcdc;
  padding: 25px 20px;  
}
.navbar-logo {
  display: inline-block;
}
.navbar-right {
  float: right;
}

.nav-list {
  list-style-type: none;
  }

.nav-list li {
  display: inline;
  padding: 0px 10px;
  color: black;
  font-size: 18px;
}
