<div class="navbar">

  <div class="navbar-logo">
    <%= image_tag("Logo.png", width: '60px') %>
  </div>

  <div class="navbar-right">
    <ul class="nav-list">
      <li>Accueil</li>
      <li>Mon profil</li>
      <li>Contact</li>
    </ul>
  </div>

</div>
